
Datasets/quotations_climate_change_example.pkl
Datasets/quotes-climate_v1.pkl
Datasets/quotes-climate_v2.pkl
Datasets/quotes-climate_v3.pkl
Datasets/wikidata_labels_descriptions_quotebank.csv.bz2

Datasets/asup_quotes_sa3_test_marwan.pkl
Datasets/quotes_densities_speakers.pkl
